@import './variables';
@import './fonts';


.btn {
    border: none;
    border-radius: 40px;
    font-family: 'Lexend Deca', $fontStack;
    font-size: 13px;
    padding: 10px 20px;
    margin: 35px;

    &.sedan {
        color: $orange;

        &:hover {
            color: $white;
            cursor: pointer;
            border: 2px solid $white;
            background-color: $orange;
        }
    }

    &.suvs {
        color: $cyan;

        &:hover {
            color: $white;
            cursor: pointer;
            border: 2px solid $white;
            background-color: $cyan;
        }
    }

    &.luxury {
        color: $darkCyan;

        &:hover {
            color: $white;
            cursor: pointer;
            border: 2px solid $white;
            background-color: $darkCyan;
        }
    }

}
