@import './variables';
@import './fonts';


.btn {
    border: none;
    border-radius: 40px;
    font-family: 'Lexend Deca', $fontStack;
    font-size: 15px;
    padding: 10px 20px;
    margin: 35px;

    &.sedan {
        color: $orange;
    }

    &.suvs {
        color: $cyan;
    }

    &.luxury {
        color: $darkCyan;
    }
}
