@import './variables';
@import './fonts';


.card {
    height: 385px;
    width: 235px;
    text-align: left;

    &.sedan {
        background-color: $orange;
        border-radius: 6px 0 0 6px;
    }
    
    &.suvs {
        background-color: $cyan;
    }
    
    &.luxury {
        background-color: $darkCyan;
        border-radius: 0 6px 6px 0;
    }
    

}

.card-description {
    color: $lightGray;
    padding: 20px 35px;
    font-family: 'Lexend Deca';
    font-size: 12px;
    line-height: 1.7;
}

.card-title {
    color: $white;
    padding: 20px 35px 0;
    font-family: 'Big Shoulders Display';
    font-size: 2em;
    text-transform: uppercase;
}
