// For the cards

$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$darkCyan: hsl(179, 100%, 13%);

// For the cards' content

$lightGray: hsl(0, 0%, 95%);
$white: hsla(0, 0%, 100%, 0.75);

// Misc
$fontStack: Arial, Helvetica, sans-serif;
$linkBlue: hsl(228, 45%, 44%);
