@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap'); // 'Big Shoulders Display' Font
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap'); // 'Lexend Deca' Font


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $fontStack;
}

.attribution {
    font-size: 11px;
    text-align: center;
    
    a {
        color: $linkBlue;
    }
}

.card {
    height: 300px;
    width: 200px;
    display: inline-block;
    text-align: left;
}

.card-description {
    color: $lightGray;
    padding: 20px 35px;
    height: 100%;
    font-family: 'Lexend Deca';
    font-size: 12px;
}

.card-title {
    color: $white;
    padding: 20px 35px 0;
    font-family: 'Big Shoulders Display';
    font-size: 2em;
    text-transform: uppercase;
}

.container {
    text-align: center;
}

#sedan {
    background-color: $orange;
    border-radius: 6px 0 0 6px;
}

#suvs {
    background-color: $cyan;
}

#luxury {
    background-color: $darkCyan;
    border-radius: 0 6px 6px 0;
}
