@import './variables';
@import './fonts';
@import './card';
@import './button';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $fontStack;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 0 42%;
    
    a {
        color: $linkBlue;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.icon {
    margin: 35px 35px 0;
}