// main background
$darkBlue: hsl(233, 47%, 7%);
//card background
$blue: hsl(244, 38%, 16%);
//accent
$violet: hsl(277, 64%, 61%);
//main heading, stats
$white: hsl(0, 0%, 100%);
//main paragraph
$transparentWhite: hsla(0, 0%, 100%, 0.75);
//stat headings
$paleWhite: hsla(0, 0%, 100%, 0.6);